org: jonvibes
service: foodiary-api

provider:
  name: aws
  region: us-east-1
  runtime: nodejs22.x
  architecture: arm64
  environment:
    DATABASE_URL: ${env:DATABASE_URL}
    JWT_SECRET_KEY: ${env:JWT_SECRET_KEY}
    BUCKET_NAME: !Ref UploadsBucket
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:PutObject
          Resource: !Sub "${UploadsBucket.Arn}/*"
          # Resource: "${!GetAtt UploadsBucket.Arn}/*"

package:
  individually: true

plugins:
  - serverless-offline

functions:
  signin:
    handler: src/functions/signin.handler
    timeout: 15
    events:
      - httpApi:
          path: /signin
          method: POST
  signup:
    handler: src/functions/signup.handler
    timeout: 15
    events:
      - httpApi:
          path: /signup
          method: POST
  me:
    handler: src/functions/me.handler
    timeout: 15
    events:
      - httpApi:
          path: /me
          method: GET
  createMeal:
    handler: src/functions/createMeal.handler
    timeout: 15
    events:
      - httpApi:
          path: /meals
          method: POST
  listMeals:
    handler: src/functions/listMeals.handler
    timeout: 15
    events:
      - httpApi:
          path: /meals
          method: GET
  getMealById:
    handler: src/functions/getMealById.handler
    timeout: 15
    events:
      - httpApi:
          path: /meals/{mealId}
          method: GET
  fileUploadEvent:
    handler: src/functions/fileUploadEvent.handler
    events:
      - s3:
          bucket: !Ref UploadsBucket
          event: s3:ObjectCreated:*
          existing: true
          forceDeploy: true

resources:
  Resources:
    UploadsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: foodiary-uploads-service

    MealsQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: foodiary-meals-queue
        VisibilityTimeout: 60
        RedrivePolicy:
          maxReceiveCount: 1
          deadLetterTargetArn: !GetAtt MealsDLQ.Arn

    MealsDLQ:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: foodiary-meals-dlq
